@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}
a{
    text-decoration: none;
}
// flow text
@keyframes flowText {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

.section{
    width: 100%;
    height: 100%;
    background-color: #000000;
    &-intro{
        height: 100vh;
        position: relative;
    }
    &-introduce{
        padding-bottom: 200px;
        height: auto;
    }
    &-project{
        overflow: hidden;
        height: 100vh;
    }
}
.scroll{
    &-wrap{
        height: 2000px;
    }
    &-text{
        position: sticky;
        top: 40vh;
        padding: 0 200px;
        font-family: 'Jua', sans-serif;
        font-size: 40px;
        line-height: 1.5;
        color: transparent;
        background-clip: text;
        -webkit-background-clip:text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(90deg, rgba(25,20,84,1) 0%, rgba(105,9,121,1) 35%, rgba(0,212,255,1) 100%);
        opacity: 0;
        text-align: center;
        &:first-child{
            top: 45vh;
        }
    }
}
.profile{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    margin: -150px 0 0 -150px;
    width: 300px;
    height: 300px;
    border: 10px solid #F2F2F2;
    border-radius: 50%;
    background-color: transparent;
    overflow: hidden;
    img{
        width: 100%;
    }
}
.flow{
    &-wrap{
        height: 100%;
        display: flex;
        flex: 0 0 auto;
        align-items: center;
        flex-wrap: nowrap;
        overflow: hidden;
        white-space: nowrap;
    }
    &-box{
        font-size: 50px;
        color: aliceblue;
        animation: flowText 20s linear infinite;
    }
}
.outer-wrap{
    display: flex;
    flex-direction: column;
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-x: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar{
        width: 1px;
        height: 1px;
    }
    &::-webkit-scrollbar-button{
        width: 1px;
        height: 1px;
    }
}
.wrapper{
    display: flex;
    align-items: center;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    
}
.slide{
    border: 2px solid red;
    width: 100vw;
    height: 100vh;
    &:nth-child(1){
        background-color: cadetblue;
    }
    &:nth-child(2){
        background-color: salmon;
    }
    &:nth-child(3){
        background-color: seagreen;
    }
    &:nth-child(4){
        background-color: peru;
    }
}